atlassian-python-api==3.41.4
chroma-hnswlib==0.7.3
chromadb==0.3.29
langchain
langchain-community
langchain-core
langchain-openai
langchainhub
openai
rank_bm25
scikit-learn==1.3.2
sentence-transformers==2.3.1
SQLAlchemy==2.0.25
st-annotated-text==4.0.1
streamlit==1.29.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
